* {
  box-sizing: border-box;
}
.Welcome {
  width: 100%;
  height: 650px;
  position: relative;
  background-size: 1088px;
  /* margin-left: 261px; */
}
.div_content {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  text-align: center;
  letter-spacing: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 200px;
}
.div_content div {
  margin-left: 300px;
  animation: example 15s infinite ease-in-out;
  transition: all 0.6s;
}
.div_content div h1 {
  /* color: #2193b0; */
  color: white;
}
.div_content div h2 {
  /* color: #2193b0; */
  color: white;
}
.main_div {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* animation: translatex 6s 1 ease-in-out; */
}
.h {
  margin-left: 200px;
}
.cont {
  width: 78%;
}
@media (max-width: 900px) {
  .div_content div {
    margin-left: 0px;
  }
  .main_div {
    margin-left: 0px;
  }
  .h {
    margin-left: 0px;
  }
}
@keyframes example {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(-80px);
  }
}
@keyframes translatex {
  from {
    transform: translatex(-60px);
  }
  to {
    transform: translatex(80px);
  }
}
