.Welcome {
  width: 1088px;
  height: 650px;
  background-image: url("../../img/diego-ph-5LOhydOtTKU-unsplash.jpg");
  position: relative;
  background-size: 1088px;
  margin-left: 261px;
}
@media (max-width: 400px) {
  .Welcome {
    width: 400px;
    background-size: 400px;
    margin-left: 0px;
  }
}
