.Welcome {
  width: 100%;
  height: 650px;
  position: relative;
  background-size: 1088px;
  /* margin-left: 261px; */
}
/* @media (max-width: 900px) {
  .Welcome {
    width: 444px;
    background-size: 444px;
    margin-left: 0px;
  }
} */
