* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.parent {
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;

  /* align-items: flex-end; */
}
.parent div {
  width: 200px;
  height: 200px;
}

.child1 {
  background-color: blue;
  flex-grow: 1;
  flex: 1 1 300px;
  /* flex-grow: 1; */
}
.child2 {
  background-color: red;
  flex-grow: 1;

  flex: 1 1 300px;
}
.child3 {
  background-color: green;
  flex-grow: 1;

  flex: 1 1 300px;
}
.child4 {
  background-color: yellow;
  flex: 1 1 300px;
}
@media (max-width: 900px) {
  .parent {
    width: auto;
  }
}
