.test {
  background-color: red;
  /* box-sizing: border-box; */
  margin-bottom: 10px;
  padding: 10px;
}
/* .tet {
  margin-left: 200px;
}

@media (max-width: 600px) {
  .tet {
    margin-left: 20px;
  }
} */
