.header_barr {
  margin-top: 20px;
  margin-left: 262px;
  letter-spacing: 8px;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}
.map {
  margin-top: 20px;
  width: 500px;
  height: 400px;
}
