.main {
  width: 270px;
  background: white;
  text-align: center;
  overflow-y: scroll;
  position: fixed;
  z-index: 3;
  height: 657px;
  padding-top: 60px;
  padding-bottom: 40px;
  transition: all 0.6s;
}
.fh5co-footer {
  margin-top: 189px;
}
h2 {
  color: #337ab7;
  font-family: "Segoe Print", Arial, sans-serif;
  letter-spacing: 2px;
  margin-left: 15px;
}
.links {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul li {
  list-style: none;
  margin: 0px 0px 32px;
  letter-spacing: 2px;
  font-weight: bold;
}
ul li a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  padding: 10px 10px;
  letter-spacing: 0.2em;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.active {
  font-weight: bold;
}
/* ul li.active a {
  text-decoration: underline;
  text-decoration-color: #337ab7;
} */
.main-nav-active {
  border: 2px solid black;
  border-radius: 4px;
}

.threelines {
  display: none;
  margin-left: 20px;
  z-index: 7;
  position: absolute;
}
.iconsss a {
  margin-left: 10px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .main {
    width: 0;
    height: 929px;
  }
  .threelines {
    display: block;
    position: fixed;
  }
}
